<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.AsiMapper">

    <!-- 공지사항 게시물 목록 -->
<!--    <select id="noticeList" resultType="com.example.tipsy.vo.AsiVO">-->
<!--        SELECT * FROM assist_customer-->
<!--                 WHERE asi_code LIKE '1%'-->
<!--                 ORDER BY asi_seq DESC-->
<!--    </select>-->

    <!-- faq 게시물 목록 -->
<!--    <select id="faqList" resultType="com.example.tipsy.vo.AsiVO">-->
<!--        SELECT * FROM assist_customer-->
<!--                 WHERE asi_code LIKE '2%'-->
<!--                 ORDER BY asi_seq DESC-->
<!--    </select>-->

    <!-- 게시물 상세 -->
    <select id="boardDetail" resultType="com.example.tipsy.vo.AsiVO">
        SELECT * FROM assist_customer WHERE asi_seq = #{asi_seq}
    </select>

    <!-- 게시물 등록 -->
    <insert id="insertBoard">
        INSERT INTO assist_customer(asi_code, asi_title, asi_contents, asi_date)
        VALUES(#{asi_code}, #{asi_title}, #{asi_contents}, #{asi_date})
    </insert>

    <!-- 게시물 수정 -->
    <update id="updateBoard">
        UPDATE assist_customer
            SET asi_title=#{asi_title}, asi_contents=#{asi_contents}
            WHERE asi_seq=#{asi_seq};
    </update>

    <!-- 게시물 삭제 -->
    <delete id="deleteBoard">
        DELETE FROM assist_customer WHERE asi_seq=#{asi_seq};
    </delete>


    <!-- 검색조건 추가 -->
    <sql id="codefilter">
        <!-- 1) concat 처리 -->
<!--        <if test="keyword!=null">-->
<!--            <bind name="keyVal" value="keyword"/>-->
<!--        </if>-->

        <!-- 2) where 조건문 처리 -->
        <choose>
            <when test="asicode==1">
                WHERE asi_code LIKE '1%'
            </when>
            <when test="asicode==2">
                WHERE asi_code LIKE '2%'
            </when>
            <when test="asicode==10">
                WHERE asi_code = 10
            </when>
            <when test="asicode==11">
                WHERE asi_code = 11
            </when>
            <when test="asicode==12">
                WHERE asi_code = 12
            </when>
            <when test="asicode==20">
                WHERE asi_code = 20
            </when>
            <when test="asicode==21">
                WHERE asi_code = 21
            </when>
            <otherwise> </otherwise>
        </choose>
    </sql>

    <select id="bcriList" resultType="com.example.tipsy.vo.AsiVO">
        SELECT * FROM assist_customer
        <include refid="codefilter"></include>
        ORDER BY asi_seq desc
        LIMIT #{sno}, #{rowsPerPage}
    </select>

    <select id="criTotalCount" resultType="int">
        SELECT count(*) from assist_customer
        <include refid="codefilter"></include>
    </select>
</mapper>