<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.ProductMapper">

    <!-- 관리자페이지 상품등록 -->
    <insert id="addProduct">
        insert into product(p_name, p_price, p_category, p_category_detail, p_alc, p_sweet, p_sour, p_img, p_info_img, p_stock)
        values(#{p_name},#{p_price},#{p_category},#{p_category_detail},#{p_alc},#{p_sweet},#{p_sour},#{p_img},#{p_info_img},#{p_stock})
    </insert>
    <!--  /////////////////////////////////////////////////////////////////////////////////  -->
   <!-- 상품목록 -->
    <select id="productList" resultType="com.example.tipsy.vo.ProVO">
      <if test="category == 0">
         select *
        from product
        order by p_cnt desc
      </if>
        <if test="category != 0">
            select *
            from product
            where p_category = #{p_category}
            order by p_cnt desc
        </if>
    </select>

    <!-- 인기순, 등록순 -->
    <select id="topSort" resultType="com.example.tipsy.vo.ProVO">
        SELECT *
        FROM product
        <if test="sort == 1">
            ORDER BY p_cnt DESC
        </if>
        <if test="sort == 2">
            ORDER BY p_regdate
        </if>
    </select>

    <!-- 장바구니 -->
    <insert id="insertCart" parameterType="com.example.tipsy.dto.CartDto">
        insert into cart(id, p_seq, cart_vol) values (#{id},(select p_seq from product where p_name = #{p_name}),#{cart_vol})
    </insert>
</mapper>

