<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.ProductMapper">
   <!-- 상품목록 -->
    <select id="productList" resultType="com.example.tipsy.vo.ProVO">
          <if test="category == 0">
            select *
            from product
            order by p_cnt desc
          </if>
        <if test="category != 0">
            select *
            from product
            where p_category = #{p_category}
            order by p_cnt desc
        </if>
    </select>

    <!-- 인기순, 등록순 -->
    <select id="topSort" resultType="com.example.tipsy.vo.ProVO">
        SELECT *
        FROM product
        <if test="sort == 1">
            ORDER BY p_cnt DESC
        </if>
        <if test="sort == 2">
            ORDER BY p_regdate
        </if>
    </select>


    <insert id="insertCart" parameterType="com.example.tipsy.dto.CartDto">
        insert into cart(id, p_seq, cart_vol)
        values (#{id},(select p_seq from product where p_name = #{p_name}),#{cart_vol}) as data
        on duplicate key update cart.cart_vol = cart.cart_vol+ data.cart_vol;
    </insert>

    <select id="basketProduct" parameterType="String" resultType="com.example.tipsy.dto.BasketProDto">
        select temp.point ,temp.id ,temp.cart_vol ,product.p_img, product.p_price,product.p_name
        from (select user.id,user.point,cart.cart_vol, cart.p_seq
                from cart join user on cart.id = user.id) as temp
        join product on temp.p_seq = product.p_seq where id = #{id};
    </select>



    <!-- 검색 및 페이징-->
    <!-- 검색 키워드 -->
    <sql id="keywordsearch">
        <if test="keyword!=null">
            <bind name="keyVal" value="'%'+keyword+'%'"/>
            AND p_name LIKE #{keyVal}
        </if>
    </sql>

    <select id="procriList" resultType="com.example.tipsy.vo.ProVO">
        <if test="category == 0">
            SELECT *
            FROM product
            WHERE p_seq > 0 <include refid="keywordsearch"></include>
            ORDER BY p_cnt DESC
            LIMIT #{sno}, #{rowsPerPage}
        </if>

        <if test="category != 0">
            SELECT *
            FROM product
            WHERE p_category = #{category} <include refid="keywordsearch"></include>
            ORDER BY p_cnt DESC
            LIMIT #{sno}, #{rowsPerPage}
        </if>
    </select>

    <select id="criTotalCount" resultType="int">
        <if test="category == 0">
            SELECT count(*) FROM product
            WHERE p_seq > 0 <include refid="keywordsearch"></include>
        </if>

        <if test="category != 0">
            SELECT count(*) FROM product
            WHERE p_category = #{category} <include refid="keywordsearch"></include>
        </if>
    </select>
</mapper>

